.hello {
  background-color: aquamarine;
  height: 100vh;
}
@import "./components/sidebar/sidebar.scss";
.dashboard-layout {
  display: flex;
  height: 100vh;
}

.dashboard-content {
  flex: 1;
  padding: 2rem;
  background: #f8f9fa;
  overflow-y: auto;
}
